<html>
  <head>
    <title>Tumblr Archive Browser</title>

    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.css"> -->

    <link rel="stylesheet" href="/css/app.min.css">

    <!-- <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.lazyload.min.js"></script>
    <script src="/js/socket.io.slim.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/snuownd.min.js"></script> -->

    <script src="/js/app.min.js"></script>

    <style type="text/css">
      table#items tr.item-post {
        cursor: pointer;
      }
      .scrollable-menu {
        height: auto;
        max-height: 400px;
        overflow-x: hidden;
      }
      #sidebar {
        float: left;
        width: 200px;
      }
      #sidebar ul {
        list-style: none;
        padding-left: 0;
      }
      #main-content {
        margin-left: 220px;
      }
    </style>
  </head>
  <body>

    <div class="container">

      <h3>
        <span class="text-primary"><i class="fa fa-tumblr fa-fw"></i> <a href="/" style="text-decoration: none;">Tumblr Archive Browser</a></span>
      </h3>

      <div class="row">
        <div class="col-md-12">

        <p>
          <a href="/"><b>All Posts</b> (<%=posts_count%>)</a>,
          <a href="/?favorites=1"><b>Favorites</b> (<%=favorite_posts_count%>)</a>
        </p>

        <%if (popular_reblogs && popular_reblogs.length) {%>
        <p>
          Popular reblogs: 
          <%popular_reblogs.forEach(function(reblog,idx){%>
          <a href="/?reblog=<%=reblog.name%>"><%=reblog.name%> (<%=reblog.posts_count%>)</a><%if(idx<popular_reblogs.length-1){%>,<%}%>
          <%});%>
        </p>
         <%}%>

        <h3>All Reblogs</h3>

        <%if (all_reblogs.length != 1) {%>
        <h5><%=all_reblogs.length%> Reblogs</h5>
        <%} else {%>
        <h5>1 Reblog</h5>
        <%}%>

        <%for (var group_name in grouped_reblogs){%>
          <%var reblog_group = grouped_reblogs[group_name];%>
          <%if (reblog_group.length > 0){%>
        <p>
          <h4 style="color: grey;"><%=group_name%> <small>(<%=reblog_group.length%>)</small></h4>
          <%reblog_group.forEach(function(reblog,idx){%>
          <a href="/?reblog=<%=reblog.name%>"><%=reblog.name%> (<%=reblog.posts_count%>)</a><%if(idx < reblog_group.length-1){%>,<%}%>
           <%});%>
        </p>
          <%}%>
        <%}%>
        
      </div>
      </div><!-- row -->

    </div><!-- container -->

  </body>
</html>